/* Article Sidebar */
article .article-sidebar {
  text-align: left;
  color: var(--text-color-muted);
  font-size: 90%;
  padding: 0 1rem 0 1rem;

  display: flex;
  flex-direction: column;
  height: -moz-available;
  height: fit-content;
}

article .article-sidebar .article-info {
  flex: 1;
}
article .article-sidebar section {
  flex: 1;
}
article .article-sidebar .series {
  flex: 1;
}

article .article-sidebar .article-info {
  margin-left: 0;
}
article .article-sidebar p {
  text-align: left;
  margin: 0 0 0.5em 0;
  font-size: 1em;
}
article .article-sidebar .by {
  font-style: italic;
  color: var(--text-color-muted);
}
article .article-sidebar p.social_widgets {
  margin-bottom: 0;
}
article .article-sidebar p + ul {
  margin-bottom: 0;
}
article .article-sidebar .tag-list {
  margin: 0;
  padding: 0;
}
article .article-sidebar .tag-list .tag {
  padding: 0;
  float: none;
  clear: both;
}

article .article-sidebar .contents ul {
  margin: 0;
  list-style-type: none;
}
article .article-sidebar .contents ul li {
  line-height: 1.1;
  margin-bottom: 0.25em;
}
article .article-sidebar .contents ul li a {
  color: #aaa;
}
article .article-sidebar .contents ul ul {
  margin: 0 0 0.5em 0.7em;
}

article .article-sidebar nav.toc ul {
  margin-top: 0;
}

article .article-sidebar nav {
  margin-top: 0.5em;
}
article .article-sidebar nav .amp {
  color: var(--text-color-amp);
}

article .article-sidebar h3 {
  color: var(--text-color-muted);
  font-size: 1.1rem;
}

/* Landscape phones and down */
@media screen and (max-width: 480px) {
  article .article-sidebar p.tag_heading,
  article .article-sidebar ul {
    display: inline;
  }
  article .article-sidebar .tag-list .tag {
    float: none;
    display: inline-block;
    list-style-type: none;
  }
}
