.hresume .intro {
  display: flex;
}
.hresume .intro .about {
  flex: 2;
}
.hresume .intro .boxout {
  flex: 1;
  margin-top: -1rem;
}

.hresume h1,
.hresume h2,
.hresume h3 {
  clear: none;
}
.hresume .summary {
  margin-bottom: inherit;
  margin-top: inherit;
  font-size: inherit;
  line-height: inherit;
}

.hresume .about p {
  line-height: 1.2;
  font-size: 150%;
  font-style: italic;
  color: var(--text-color-muted);
}
.hresume .intro .amp {
  color: var(--text-color-amp);
}
.hresume .boxout {
  border: 1px solid var(--content-border);
  border-radius: var(--border-radius);
  padding: 1rem;
  background-color: var(--content-fg);
}
.hresume .boxout address,
.hresume .boxout dl {
  margin: 0 auto 0 auto;
}
.hresume i {
  color: var(--text-color-muted);
}

.hresume .xp_description {
  display: flex;
}
.hresume .xp_description .smallprint {
  padding: 1rem;
  flex: 1;
}
.hresume .xp_description .job_description {
  padding: 1rem;
  flex: 3;
}

.hresume .experience h4 {
  font-weight: bold;
}
.hresume .experience .smallprint p {
  text-align: right;
  font-size: 1rem;
}
.hresume .experience .job_description p {
  line-height: 1.3;
}

.hresume .download {
  float: right;
  margin-top: -1rem;
  font-variant: small-caps;
  color: var(--text-color-muted);
}
