/* Styles for Figures & Images */

.content img {
  border: 1px solid var(--img-border-color);
  border-radius: var(--border-radius);
  padding: 0.5rem;
  background: var(--img-bg);
  float: left;
  margin: 1em 1em 1em 0;
  /* box-shadow: 4px 4px 4px 0 var(--img-shadow-color); */
  box-shadow: 0 1px 1px var(--img-shadow-color),
    0 2px 2px var(--img-shadow-color), 0 4px 4px var(--img-shadow-color),
    0 8px 8px var(--img-shadow-color), 0 16px 16px var(--img-shadow-color);
  max-width: 100%;
  height: auto;
}
.content img.align-left {
  float: left;
  margin: 0.5em 1em 1em 0;
}
.content img.align-right {
  float: right;
  margin: 0.5em 0 1em 1em;
}
.content img.no-wrap {
  float: none;
  clear: both;
  margin-bottom: 0.15em;
}

.content img.small {
  width: 300px;
}

.content img.bare {
  border: none;
  border-radius: 0;
  padding: 0;
  box-shadow: none;
}

/*

  Figures

 */
.content figure {
  display: table;
  max-width: 100%;
  float: left;

  border: 1px solid var(--img-border-color);
  border-bottom: none;
  border-radius: 4px;
  background: var(--img-bg);
  margin: 0 1em 1em 0;
  padding: 0.5rem 0.5rem 0.25rem 0.5rem;
  /* box-shadow: 4px 4px 4px 0 var(--img-shadow-color); */
  box-shadow: 0 1px 1px var(--img-shadow-color),
    0 2px 2px var(--img-shadow-color), 0 4px 4px var(--img-shadow-color),
    0 8px 8px var(--img-shadow-color), 0 16px 16px var(--img-shadow-color);
}
.content figure.align-right {
  float: right;
  margin: 0 0 1em 1em;
}
.content figure.align-left {
  float: left;
}
.content figure.small {
  width: 332px;
}
.content figure img {
  display: block;
  max-width: 100%;
  height: auto;
  border: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
}
.content figcaption {
  padding: 0.25rem 0.5rem 0.5rem 0.5rem;

  display: table-caption;
  caption-side: bottom;

  border: 1px solid var(--img-border-color);
  border-top: none;
  background-color: var(--img-bg);
  color: var(--text-color);
  /* box-shadow: 4px 4px 4px 0 var(--img-shadow-color); */
  box-shadow: 0 1px 1px var(--img-shadow-color),
    0 2px 2px var(--img-shadow-color), 0 4px 4px var(--img-shadow-color),
    0 8px 8px var(--img-shadow-color), 0 16px 16px var(--img-shadow-color);
  border-radius: 4px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  margin-top: -2px;
  font-size: 80%;
}
.content figcaption .amp {
  color: var(--text-color-amp);
}
