body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    'header'
    'article'
    'footer';
  min-height: 100vh;
}

header {
  grid-area: header;
}

footer {
  grid-area: footer;
}

article {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    'title'
    'main';
  grid-area: article;
}

.title {
  grid-area: title;
}

.main {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.article-sidebar {
  flex: 2;
}
.article-content {
  flex: 8;
  padding: 0 1rem;
}
