/* Styling for Nav bar. Bg color, link color etc */

/********************************

Common Header & Footer

********************************/

:is(header, footer) {
  padding: 1.5rem 0.5rem;
  background: var(--blueprint-bg) url(/images/blueprint-background.svg) repeat;
  background-size: 1.5%;
  color: var(--blueprint-fg);
  /* margin-bottom: 1rem; */
}

/* Header & Footer Common Nav */
:is(header, footer) nav {
  margin-right: 1rem;
}

:is(header, footer) a {
  text-decoration: none;
  border-radius: var(--border-radius);
  border: 1px solid transparent;
}
:is(header, footer) a:hover,
:is(header, footer) .amp {
  color: var(--blueprint-fg);
}

:is(header, footer) nav ul {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
  margin-right: 0;
}

:is(header, footer) nav li a {
  color: var(--blueprint-fg);
  display: inline-block;
  padding: 0.25rem;
  width: 100%;
  word-break: break-all;
  transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out,
    border-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}
:is(header, footer) nav li i {
  color: var(--blueprint-fg);
}
:is(header, footer) nav li a:hover {
  color: var(--blueprint-bg);
  background-color: var(--blueprint-fg);
  border: 1px solid var(--blueprint-fg);
}
:is(header, footer) nav li a:hover .amp {
  color: inherit;
}
:is(header, footer) nav li.active a {
  background-color: var(--blueprint-fg);
  color: var(--blueprint-bg);
}
:is(header, footer) nav li.active .amp {
  color: inherit;
}

/********************************

  Header

********************************/

header {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}

/* Header specific nav */
header nav {
  margin: 1.5rem 0.5rem 0.5rem 0;
}
header nav li {
  float: left;
  margin-left: 1rem;
}

/* Site header main heading */
.brand {
  display: block;
  margin-right: 2rem;
  font-family: var(--font-heading);
  font-weight: normal;
  font-size: 5.063rem;
  line-height: 1;
  color: var(--blueprint-fg);
}
a.brand:hover {
  text-decoration: underline;
}

/*

  Theme toggle

*/
#theme-toggle {
  background-color: rgba(0, 0, 0, 0.4);
  border-bottom-left-radius: 0.5rem;
  padding: 0.25rem 0.5rem 0.5rem 0.75rem;
  position: absolute;
  top: 0;
  right: 0;

  cursor: pointer;
}
#theme-toggle i.icon svg {
  margin: 0;
  width: 1rem;
  height: 1rem;
}
#theme-toggle i.icon.dark-theme {
  display: none;
}

/* Current theme is dark */
@media (prefers-color-scheme: dark) {
  #theme-toggle i.icon.light-theme {
    display: none;
  }
  #theme-toggle i.icon.dark-theme {
    display: block;
  }
}
body.dark-theme #theme-toggle i.icon.light-theme {
  display: none;
}
body.dark-theme #theme-toggle i.icon.dark-theme {
  display: block;
}

/* Current theme is light */
@media (prefers-color-scheme: light) {
  #theme-toggle i.icon.light-theme {
    display: block;
  }
  #theme-toggle i.icon.dark-theme {
    display: none;
  }
}
body.light-theme #theme-toggle i.icon.light-theme {
  display: block;
}
body.light-theme #theme-toggle i.icon.dark-theme {
  display: none;
}

/********************************

  Footer

********************************/

footer {
  padding: 1em 2em;
  margin: 1em 0 0 0;
}

/* Footer specific nav */
footer li {
  text-align: left;
  line-height: 1;
  margin-bottom: 0;
}
footer li.feeds i.icon svg {
  margin-left: 4px;
}
footer li.feeds a {
  display: inline;
  padding: 3px;
  margin: 0 3px 0 -6px;
}

footer .row {
  display: flex;
}

footer .links {
  flex: 1;
  display: flex;
}
footer nav {
  flex: 1;
}
footer .colophon {
  flex: 1;
}

footer a {
  color: var(--blueprint-fg);
  border-radius: 3px;
  border: 1px solid transparent;
}

footer h4 {
  font: bold 1rem/1.5 var(--font-sans);
  text-transform: uppercase;
  margin: 0 0 0.2rem 0;
  color: var(--blueprint-fg);
}

footer hr {
  opacity: initial;
}

.colophon p,
.copyright p {
  margin: 0;
  font-size: 90%;
  font-style: italic;
  line-height: 1.25;
}
