i.icon svg {
  fill: currentColor;
  display: inline-block;
  font-size: inherit;
  height: 1em;
  width: 1.25em;
  overflow: visible;
  vertical-align: -0.125em;
  margin: 0 4px 0 0;
}

:is(header, footer) i.icon svg {
  fill: var(--icon-color-blueprint);
}
article i.icon svg {
  fill: var(--icon-color-content);
}

/* Have icons in the header & footer change colour on hover: */
:is(header, footer) a:hover i.icon svg,
:is(header, footer) .active i.icon svg {
  fill: var(--blueprint-bg);
}

i.icon noscript img {
  padding: 0;
  border: none;
  float: none;
  margin: 0;
  box-shadow: none;

  margin-right: -14px;
}
