i.icon svg {
  fill: var(--icon-color-content);
  display: inline-block;
  font-size: inherit;
  height: 1em;
  width: 1.25em;
  overflow: visible;
  vertical-align: -0.125em;
  margin: 0 4px 0 0;
}

header i.icon svg {
  fill: var(--icon-color-header);
}
footer i.icon svg {
  fill: var(--icon-color-footer);
}
header .active i.icon svg {
  fill: var(--header-background);
}
