.index h2 a {
  text-decoration: none;
  color: var(--text-color);
}
.index h2 a:hover {
  text-decoration: underline;
  color: var(--text-color);
}
.index .read-more .page-link {
  border-radius: var(--border-radius);
}

.index.minimal .tag-list-container {
  margin-top: -0.25rem;
}

.index.minimal h2 {
  font-size: 1.75rem;
  margin: 0.25rem 0;
}
.index.minimal .icon {
  vertical-align: top;
  display: inline-block;
}
.index.minimal .tag-list {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.index.minimal .tag {
  padding-top: 0;
}

.index.minimal .smallprint::before {
  content: 'Today I Learned: ';
  margin-right: 0.25rem;
  color: var(--text-color);
}
.index.minimal .smallprint::after {
  content: '…';
}
