.read-more {
  clear: both;
  display: inline-block;
  padding: 0.375rem 0.75rem;
  border: 1px solid var(--pagination-border-color);
  border-radius: var(--border-radius);
  text-decoration: none;
}
.read-more:hover {
  border: 1px solid var(--pagination-border-color);
  background-color: var(--pagination-hover-background);
}

.index h2 a {
  text-decoration: none;
  color: var(--text-color-dark);
}
.index h2 a:hover {
  text-decoration: underline;
  color: var(--text-color-dark);
}

.index.minimal .tag-list-container {
  margin-top: -0.25rem;
}

.index.minimal h2 {
  font-size: 1.75rem;
  margin: 0.25rem 0;
}
.index.minimal .icon {
  vertical-align: top;
  display: inline-block;
}
.index.minimal .tag-list {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.index.minimal .tag {
  padding-top: 0;
}

.index.minimal .smallprint::before {
  content: 'Today I Learned: ';
  margin-right: 0.25rem;
  color: var(--text-color-dark);
}
.index.minimal .smallprint::after {
  content: '…';
}
