/* Fonts */
@font-face {
  /* This is for flourishes and only includes the following chars: & § */
  font-family: 'Gabriela';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Gabriela.woff2');
  font-display: swap;
  unicode-range: U+0020, U+0026, U+00A7;
}

/* Styling for elements */
body {
  font-family: var(--font-body);
  background-color: var(--content-background);
}
p {
  font-size: 1.15rem;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
a {
  color: var(--link-color);
}

dl {
  font-size: 1.15rem;
}
dt {
  font-size: 1.1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  font-weight: normal;
  color: var(--text-color-dark);
  line-height: 1;
}
h1 {
  font-size: 3.375em;
}

/* Styling for articles */

.article {
  padding-bottom: 15px;
  padding-right: 40px;
}
.content-title {
  padding: 0 1rem;
}

/* Article Sidebar */
article .sidebar {
  text-align: left;
  color: var(--text-color-muted);
  font-size: 90%;
  padding: 0 1rem 1rem 1rem;
}
article .sidebar .article-info {
  margin-left: 0;
}
article .sidebar p {
  text-align: left;
  margin: 0 0 0.5em 0;
  font-size: 1em;
}
article .sidebar .by {
  font-style: italic;
  color: var(--text-color-muted);
}
article .sidebar p.social_widgets {
  margin-bottom: 0;
}
article .sidebar p + ul {
  margin-bottom: 0;
}
article .sidebar .tag-list {
  margin: 0;
  padding: 0;
}
article .sidebar .tag-list .tag {
  padding: 0;
  float: none;
  clear: both;
}

article .sidebar .contents ul {
  margin: 0;
  list-style-type: none;
}
article .sidebar .contents ul li {
  line-height: 1.1;
  margin-bottom: 0.25em;
}
article .sidebar .contents ul li a {
  color: #aaa;
}
article .sidebar .contents ul ul {
  margin: 0 0 0.5em 0.7em;
}

article .sidebar nav.toc ul {
  margin-top: 0;
}

article .sidebar nav {
  margin-top: 0.5em;
}
article .sidebar nav .amp {
  color: #bbb;
}

.content article .sidebar h4 {
  color: var(--text-color-muted);
}

article .main {
  padding-top: 1rem;
}

section#preamble,
section.content {
  padding-right: 1rem;
}

/* Article Blockquotes */
.content blockquote {
  border-left: 5px solid #dedede;
}
.content blockquote,
.content blockquote p {
  font-size: 0.9rem;
  font-style: italic;
}

.content p:first-of-type {
  margin-top: 0;
}

/* Styles for article footnotes */

.content .footnotes hr {
  display: none;
}
.content table.footnote {
  font-size: 95%;
}
.content .footnote-ref,
.content .footnote-reference {
  font-size: 75%;
  vertical-align: top;
  margin-left: -0.2em;
}
.content .footnote td {
  border: none;
  text-align: left;
}
.content .footnote td.label {
  background-color: var(--content-background);
  text-shadow: none;
  border-radius: 0;
  padding: 0;
  font-size: inherit;
  font-weight: normal;
}

.content dd {
  margin: 0.2em 0 0.3em 1.5em;
}
.content dd ul {
  margin: 0.2em 0 0.3em 1em;
}

/* Styles for tables */
.content table {
  border-collapse: collapse;
  border: none;
  width: 100%;
}
.content th {
  border: none;
  border-bottom: 2px solid #ccc;
  border-right: 2px solid #fff;
  text-align: left;
  /*text-transform: capitalize;*/
  /*font-variant: small-caps;*/
}
.content td {
  border: none;
  border-bottom: 1px dotted #ccc;
  border-right: 1px solid #fff;
}

/* 

    Styles for Admonitions, bith .rst & .adoc html5s ones.

*/

/* Styles for RST Admonitions: http://docutils.sourceforge.net/docs/ref/rst/directives.html#admonitions */
.content div.note,
.content div.caution {
  padding: 0.25em 1em;
  background: var(--admonition-background) url(/images/blueprint-background.png);
  color: var(--text-color-light);
  border: 1px solid #3c7cbd;
  border-radius: 4px;
}
.content .admonition-title {
  font-size: 150%;
  font-weight: bold;
  margin: 0.5em 0 0 0;
}
.content div.note .amp,
.content div.caution .amp {
  color: var(--text-color-light);
}

.content div.note a,
.content div.caution a {
  color: var(--text-color-light);
  text-decoration: underline;
}

.content div.note tt,
.content div.caution tt {
  background-color: transparent;
  background-color: rgba(222, 222, 222, 0.25);
}

.content div.note p,
.content div.caution p {
  margin-top: 0.1em;
}

/* Styles for ADOC Admonitions: https://docs.asciidoctor.org/asciidoc/latest/blocks/admonitions/ */
.content aside.note,
.content section.caution {
  padding: 0.25em 1em;
  background: var(--admonition-background) url(/images/blueprint-background.png);
  color: var(--text-color-light);
  border: 1px solid #3c7cbd;
  border-radius: 4px;
}
.content .admonition-block h6 {
  color: var(--text-color-light);
  font-size: 150%;
  font-weight: bold;
  margin: 0.5em 0 0.5rem 0;
}
.content aside.note .amp,
.content section.caution .amp {
  color: var(--text-color-light);
}

.content aside.note a,
.content section.caution a {
  color: var(--text-color-light);
  text-decoration: underline;
}

.content aside.note tt,
.content section.caution tt {
  background-color: transparent;
  background-color: rgba(222, 222, 222, 0.25);
}

.content aside.note p,
.content section.caution p {
  margin-top: 0.1em;
}

/* Any image that directly follows a paragraph inside a .content element */
.content p + img {
  margin-top: 0;
}

/* Styles for Code & literals */
.summary div.highlight {
  /*display: inline-block;*/
}
.highlight {
  border-radius: 5px;
}
.content code,
.content pre {
  font-family: var(--font-mono);
}
div.content code {
  font-size: initial;
}
.wrap .highlight pre {
  white-space: normal;
  word-break: break-word;
  overflow-wrap: break-word;
}
.highlight pre {
  font-family: var(--font-mono);
  background-color: #090916;
  color: #f8f8f2;
  font-size: 90%;

  overflow: auto;
  white-space: pre;
  word-wrap: normal;
  border: none;
}
tt.literal {
  font-family: var(--font-mono);
  background-color: #dedede;
  padding: 0.15em 0.2em 0 0.2em;
  border-radius: 3px;
  line-height: 1;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content hr {
  clear: both;
  float: none;
}
.content h2 {
  font-size: 2.25rem;
  margin-top: 2rem;
}
.content h3 {
  font-size: 1.6rem;
}
.content h4 {
  font-size: 1.3rem;
}

.content hr {
  border: none;
  text-align: center;
  height: 24px;

  background: repeat-x 50%
    url('data:image/svg+xml;utf8,<svg width="160px" height="1px" viewBox="0 0 160 1" xmlns="http://www.w3.org/2000/svg"><path d="M0 0 H 160" stroke="%23333"/></svg>')
    var(--content-background);
}
.content hr::after {
  color: #aaa;
  font-family: var(--font-flourish);
  content: '§';
  padding: 0 0.5em;
  background: white;
}

/* Read more button */
.btn-info.xsmall {
  padding: 1px 3px 1px;
  font-size: 11px;
  float: right;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

/* Article index summary */
.summary {
  margin-top: 0.8em;
}

/* Styles for Tags */
.tag-list {
  margin: 1em 0 0.5em 0;
  padding: 0 0 0.5em 0;
  clear: both;
  float: none;
  overflow: auto;
}
.tag-list .tag {
  float: left;
  list-style-type: none;
}
.tag {
  padding: 0.3em 0.5em;
}
.tag .muted {
  color: var(--text-color-muted);
}

/* Styles for the Archives */
.archive-year {
  text-align: right;
}
table.archive td {
  text-align: left;
}
table.archive td h4 {
  margin: 0;
}
table.archive td p {
  margin: 0.2em 0;
}

/*

Styles for my CV

*/

.hresume h1,
.hresume h2,
.hresume h3 {
  clear: none;
}
.hresume .summary {
  margin-bottom: inherit;
  margin-top: inherit;
  font-size: inherit;
  line-height: inherit;
}

.hresume .intro {
  line-height: 1.2;
  font-size: 150%;
  font-style: italic;
  color: #777;
}
.hresume .intro .amp {
  color: #999;
}
.hresume .boxout {
  border: 1px solid var(--img-border-color);
  border-radius: 4px;
  padding: 1em;
  background-color: #efefef;
}
.hresume .boxout address,
.hresume .boxout dl {
  margin: 0 auto 0 auto;
}
.hresume i {
  color: var(--text-color-muted);
}

.hresume .experience h4 {
  font-weight: bold;
}
.hresume .experience .smallprint p {
  text-align: right;
}
.hresume .experience .job_description p {
  line-height: 1.3;
}

.hresume .download {
  float: right;
  margin-top: -1em;
  font-variant: small-caps;
  color: var(--text-color-muted);
}

/*

Styles for the E-Numbers stuff

TODO: Split into separate stylesheet that only loads on that page

*/

nav.enumbers ul {
  padding-left: 0;
}
nav.enumbers li {
  margin-right: 1em;
  float: left;
  padding-right: 1em;
}

table.enumbers {
  width: 100%;
}
.enumbers td.bad {
  background-color: #f63;
  font-weight: bolder;
  color: #fff;
  text-align: center;
}
.enumbers td.good {
  background-color: #6c6;
  font-weight: bolder;
  color: #fff;
  text-align: center;
}
.enumbers td.unknown {
  text-align: center;
  background-color: #ffc;
}
.enumbers td .altname {
  font-size: smaller;
  font-style: italic;
  color: #666;
}

/*-----------------------------

    Responsive stuff

-------------------------------*/

/* Large desktop */
@media screen and (min-width: 1200px) {
}

/* Portrait tablet to landscape and desktop */
@media screen and (min-width: 768px) and (max-width: 979px) {
}

/* Landscape phone to portrait tablet */
@media screen and (max-width: 767px) {
  #socialist {
    display: table-footer-group;
  }
  #colophon {
    display: table-header-group;
  }
  #sitelinks {
    display: table-footer-group;
  }

  .article-content {
    clear: both;
  }
  .brand {
    font-size: 250%;
    padding-left: 0.5em;
  }
  header {
    padding: 0;
  }
  #blog-nav {
    padding: 0;
    margin-top: 0;
  }
}

/* Landscape phones and down */
@media screen and (max-width: 480px) {
  .brand {
    font-size: 200%;
  }
  h1 {
    font-size: 200%;
  }
  article .sidebar p.tag_heading,
  article .sidebar ul {
    display: inline;
  }
  article .sidebar .tag-list .tag {
    float: none;
    display: inline-block;
    list-style-type: none;
  }

  .hresume .boxout {
    width: 90%;
  }
}
