/* Fonts */
@font-face {
  /* This is for flourishes and only includes the following chars: & §”“ */
  font-family: 'Flourishes';
  font-style: normal;
  font-weight: normal;
  /* src: url('./fonts/subset-Gabriela-Regular.woff2') format('woff2'); */
  src: url('./fonts/subset-Caladea-Regular.woff2') format('woff2');
  /* src: url('./fonts/Caladea-Regular.ttf'); */
  font-display: swap;
  unicode-range: U+0020, U+0026, U+00A7, U+201C, U+201D;
}

/* Styling for elements */
body {
  font-family: var(--font-body);
  color: var(--text-color);
  background-color: var(--content-bg);

  transition-property: color, background-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  font-weight: normal;
  color: var(--text-color);
  word-break: break-word;
}
h1 {
  --minFontSize: 3rem;
  --maxFontSize: 6rem;
  --scaler: 3.5vw;
  font-size: clamp(var(--minFontSize), var(--scaler), var(--maxFontSize));
  line-height: 1.05;
}
h6 {
  font-size: 1.1rem;
  font-weight: bold;
}

p {
  font-size: 1.15rem;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
li p {
  margin-bottom: 0;
}
a {
  color: var(--link-color);
  white-space: normal;
  word-break: break-word;
  overflow-wrap: break-word;
}
a:hover {
  color: var(--link-color-hover);
}

dl {
  font-size: 1.15rem;
}
dt {
  font-size: 1.1rem;
}

/*********************************

  Articles

**********************************/

article .content-title {
  padding: 0 1rem;
}

article .main {
  padding-top: 1rem;
  max-width: 100vw;
}

section.content {
  padding: 0 1rem;
}

/* Article Blockquotes */

.content blockquote {
  background-color: var(--blockquote-bg);
  border-left: 5px solid var(--blockquote-border);
  border-radius: var(--border-radius);
  padding: 0.5rem 0.5rem 0 0.75rem;
  margin: 0 0 1.25rem;
  position: relative;
}
.content blockquote::before {
  content: '“';
  /* U+201C */
  position: absolute;
  top: -12px;
  left: 2px;
  font-size: 7rem;
  line-height: 1;
  font-family: var(--font-flourish);
  opacity: 0.25;
}
.content blockquote p {
  font-style: italic;

  margin-bottom: 0.5rem;
  line-height: 1.25;
  text-indent: 2.25rem;
}
.content blockquote p:last-of-type {
  margin-bottom: 0;
}
.content footer {
  background: initial;
  color: var(--text-color);
  padding: 0.5rem;
  margin: initial;
}
.content footer a {
  color: var(--link-color);
}

.content p:first-of-type {
  margin-top: 0;
}

.content aside {
  margin-left: 1rem;
  border-left: 0.35rem solid var(--content-border);
  padding-left: 1rem;
  border-radius: var(--border-radius);
}

/* 

  Article footnotes 

*/

.content .footnotes hr {
  display: none;
}
.content table.footnote {
  font-size: 95%;
}
.content .footnote-ref,
.content .footnote-reference {
  font-size: 75%;
  vertical-align: top;
}
.content .footnote td {
  border: none;
  text-align: left;
}
.content .footnote td.label {
  background-color: var(--content-bg);
  text-shadow: none;
  border-radius: 0;
  padding: 0;
  font-size: inherit;
  font-weight: normal;
}

/* Definition lists */
.content dd {
  margin: 0.2rem 0 0.3rem 1.5rem;
}
.content dd ul {
  margin: 0.2rem 0 0.3rem 1rem;
}

/* Tables */
.content table {
  border-collapse: collapse;
  border: none;
  width: 100%;
  margin-bottom: 1rem;
}
.content :is(th, td) {
  border: none;
  word-break: break-word;
  padding: 0.25rem;
}
.content th {
  border-bottom: 2px solid var(--content-border);
  border-right: 2px solid var(--content-bg);
  text-align: left;
}
.content td {
  vertical-align: top;
  border-bottom: 1px dotted var(--content-border);
  border-right: 1px solid var(--content-bg);
}
.content :is(th, td).halign-right {
  text-align: right;
}
.content :is(th, td).valign-top {
  vertical-align: top;
}
.content tfoot td {
  border-top: 2px solid var(--content-border);
  font-weight: bold;
}

/* 

  Admonitions
  https://docs.asciidoctor.org/asciidoc/latest/blocks/admonitions/

*/

.content .admonition-block {
  padding: 0.25rem 1rem;
  background: var(--blueprint-bg) url(/images/blueprint-background.svg) repeat;
  background-size: 15px;
  color: var(--blueprint-fg);
  border: 1px solid var(--admonition-border-color);
  border-radius: var(--border-radius);
  margin-bottom: 1rem;
}
.content .admonition-block h6 {
  color: var(--blueprint-fg);
  font-size: 150%;
  font-weight: bold;
  margin: 0.5rem 0 0.5rem 0;
}
.content aside.note .amp,
.content section.caution .amp {
  color: var(--blueprint-fg);
}

.content aside.note a,
.content section.caution a {
  color: var(--blueprint-fg);
  text-decoration: underline;
}

.content aside.note p,
.content section.caution p {
  margin-top: 0.1rem;
}

/* Any image that directly follows a paragraph inside a .content element */
.content p + img {
  margin-top: 0;
}

/* 

  Code & literals

*/

/* Inline code snippets */
.content :is(p, td, li) > code {
  border-radius: var(--border-radius);
  background-color: var(--inline-code-bg);
  border: 1px solid var(--inline-code-border);
  white-space: nowrap;
  padding: 0.1rem 0.2rem;
}

/* Code blocks */
.highlight {
  border-radius: var(--border-radius);
}
.content code {
  font-family: var(--font-mono);
  font-size: initial;
  color: var(--inline-code-fg);
}
.content pre.highlight {
  white-space: pre-wrap;
  word-break: break-word;
  overflow-wrap: break-word;

  font-family: var(--font-mono);
  font-size: 1rem;
  background-color: var(--code-block-bg);
  color: var(--code-block-fg);
  padding: 0.75rem;

  overflow: auto;
  border: none;
}
.content pre.highlight td.code {
  border: none;
}

/* 

  Headers

*/
.content :is(h1, h2, h3, h4, h5, hr) {
  clear: both;
  float: none;
}
.content h2 {
  font-size: 2.325rem;
  line-height: 1.1;
}
.content h3 {
  font-size: 1.6rem;
}
.content h4 {
  font-size: 1.3rem;
}
.content h5 {
  font-size: 1.2rem;
}

/* 

  Fancy horizontal rules

*/
.content hr {
  background-color: transparent;
  line-height: 1rem;
  position: relative;
  outline: 0;
  border: 0;
  color: var(--hr-fg);
  text-align: center;
  height: 1.5rem;
  transition: none;
  margin: 0.75rem 1rem;
}
.content hr::before {
  content: '';
  background: var(--hr-fg);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}
.content hr::after {
  font-family: var(--font-flourish);
  font-size: 1.5rem;
  content: '§';
  position: relative;
  display: inline-block;

  padding: 0 0.5rem;
  line-height: 1.5rem;
  color: var(--hr-fg);
  background-color: var(--content-bg);
}

/* Styles for Tags */
.tag-list {
  margin: 1rem 0 0.5rem 0;
  padding: 0 0 0.5rem 0;
  clear: both;
  float: none;
  overflow: auto;
}
.tag-list .tag {
  float: left;
  list-style-type: none;
}
.tag {
  padding: 0.3rem 0.5rem;
}
.tag .muted {
  color: var(--text-color-muted);
}

/* Embedded Video Styles, to make youtube embeds responsive 
https://dev.to/deammer/embed-responsive-youtube-videos-in-2021-5dkh */

.video-block iframe {
  aspect-ratio: 16 / 9;
  width: 100%;
}
.video-block {
  margin-bottom: 0.5rem;
}
