/* Fonts */
@font-face {
  /* This is for flourishes and only includes the following chars: & § */
  font-family: 'Gabriela';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Gabriela.woff2');
  font-display: swap;
  unicode-range: U+0020, U+0026, U+00A7;
}

/* Styling for elements */
body {
  font-family: var(--font-body);
  background-color: var(--content-background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  font-weight: normal;
  color: var(--text-color-dark);
}
h1 {
  font-size: 3.375rem;
}

p {
  font-size: 1.15rem;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
li p {
  margin-bottom: 0;
}
a {
  color: var(--link-color);
  white-space: normal;
  word-break: break-word;
  overflow-wrap: break-word;
}

dl {
  font-size: 1.15rem;
}
dt {
  font-size: 1.1rem;
}

/*********************************

  Articles

**********************************/

article .content-title {
  padding: 0 1rem;
}

article .main {
  padding-top: 1rem;
  max-width: 100vw;
}

section.content {
  padding: 0 1rem;
}

/* Article Blockquotes */

.content blockquote {
  border-left: 5px solid #dedede;
  padding: 0 0 0 0.75rem;
  margin: 0 0 1.25rem;
}
.content blockquote p {
  font-size: 0.9rem;
  font-style: italic;

  margin-bottom: 0.5rem;
  line-height: 1.25;
}
.content blockquote p:last-of-type {
  margin-bottom: 0;
}
.content footer {
  background: initial;
  color: var(--text-color-dark);
  padding: 0.5rem;
  margin: initial;
}
.content footer a {
  color: var(--link-color);
}

.content p:first-of-type {
  margin-top: 0;
}

/* 

  Article footnotes 

*/

.content .footnotes hr {
  display: none;
}
.content table.footnote {
  font-size: 95%;
}
.content .footnote-ref,
.content .footnote-reference {
  font-size: 75%;
  vertical-align: top;
}
.content .footnote td {
  border: none;
  text-align: left;
}
.content .footnote td.label {
  background-color: var(--content-background);
  text-shadow: none;
  border-radius: 0;
  padding: 0;
  font-size: inherit;
  font-weight: normal;
}

/* Definition lists */
.content dd {
  margin: 0.2rem 0 0.3rem 1.5rem;
}
.content dd ul {
  margin: 0.2rem 0 0.3rem 1rem;
}

/* Tables */
.content table {
  border-collapse: collapse;
  border: none;
  width: 100%;
  margin-bottom: 1rem;
}
.content th {
  border: none;
  border-bottom: 2px solid #ccc;
  border-right: 2px solid #fff;
  text-align: left;
}
.content td {
  border: none;
  vertical-align: top;
  padding: 0.25rem;
  border-bottom: 1px dotted #ccc;
  border-right: 1px solid #fff;
}

/* 

  Admonitions
  https://docs.asciidoctor.org/asciidoc/latest/blocks/admonitions/

*/

.content .admonition-block {
  padding: 0.25rem 1rem;
  background: var(--admonition-background) url(/images/blueprint-background.png);
  color: var(--text-color-light);
  border: 1px solid var(--admonition-border-color);
  border-radius: var(--border-radius);
  margin-bottom: 1rem;
}
.content .admonition-block h6 {
  color: var(--text-color-light);
  font-size: 150%;
  font-weight: bold;
  margin: 0.5rem 0 0.5rem 0;
}
.content aside.note .amp,
.content section.caution .amp {
  color: var(--text-color-light);
}

.content aside.note a,
.content section.caution a {
  color: var(--text-color-light);
  text-decoration: underline;
}

.content aside.note tt,
.content section.caution tt {
  background-color: transparent;
  background-color: rgba(222, 222, 222, 0.25);
}

.content aside.note p,
.content section.caution p {
  margin-top: 0.1rem;
}

/* Any image that directly follows a paragraph inside a .content element */
.content p + img {
  margin-top: 0;
}

/* 

  Code & literals

*/

/* Inline code snippets */
.content p > code,
.content td > code,
.content li > code {
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  white-space: nowrap;
  padding: 0.1rem 0.2rem;
}

/* Code blocks */
.highlight {
  border-radius: 5px;
}
.content code {
  font-family: var(--font-mono);
  font-size: initial;
}
.content pre.highlight {
  white-space: pre-wrap;
  word-break: break-word;
  overflow-wrap: break-word;

  font-family: var(--font-mono);
  font-size: 1rem;
  background-color: #090916;
  color: #f8f8f2;
  padding: 0.75rem;

  overflow: auto;
  border: none;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content hr {
  clear: both;
  float: none;
}
.content h2 {
  font-size: 2.25rem;
  margin-top: 2rem;
}
.content h3 {
  font-size: 1.6rem;
}
.content h4 {
  font-size: 1.3rem;
}

.content hr {
  border: none;
  text-align: center;
  height: 24px;

  background: repeat-x 50%
    url('data:image/svg+xml;utf8,<svg width="160px" height="1px" viewBox="0 0 160 1" xmlns="http://www.w3.org/2000/svg"><path d="M0 0 H 160" stroke="%23333"/></svg>')
    var(--content-background);
}
.content hr::after {
  color: #aaa;
  font-family: var(--font-flourish);
  content: '§';
  padding: 0 0.5rem;
  background: white;
}

/* Styles for Tags */
.tag-list {
  margin: 1rem 0 0.5rem 0;
  padding: 0 0 0.5rem 0;
  clear: both;
  float: none;
  overflow: auto;
}
.tag-list .tag {
  float: left;
  list-style-type: none;
}
.tag {
  padding: 0.3rem 0.5rem;
}
.tag .muted {
  color: var(--text-color-muted);
}

/*

  Styles for the E-Numbers stuff
  TODO: Split into separate stylesheet that only loads on that page

*/

nav.enumbers ul {
  padding-left: 0;
}
nav.enumbers li {
  margin-right: 1rem;
  float: left;
  padding-right: 1rem;
}

table.enumbers {
  width: 100%;
}
.enumbers td.bad {
  background-color: #f63;
  font-weight: bolder;
  color: #fff;
  text-align: center;
}
.enumbers td.good {
  background-color: #6c6;
  font-weight: bolder;
  color: #fff;
  text-align: center;
}
.enumbers td.unknown {
  text-align: center;
  background-color: #ffc;
}
.enumbers td .altname {
  font-size: smaller;
  font-style: italic;
  color: #666;
}
