/* CSS Variables */
:root {
  --border-radius: 4px;
  --text-color-dark: #001;
  --text-color-muted: #666;
  --text-color-light: #e8e8e8;

  --link-color: #0a5693;

  --content-background: #fff;
  --header-background: #2c71b8;
  --footer-background: #2c71b8;
  --admonition-background: #2c71b8;

  --img-border-color: #bbb;
  --sidebar-icon-color: #bbb;
}
/* Styling for elements */
body {
  font-family: "Bitter", Georgia, serif;
  font-size: 1em;
  line-height: 1.5;
  background-color: var(--content-background);
}
p {
  margin: 0.8em 0;
  font-size: 1.15em;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
a {
  color: var(--link-color);
}
a:hover {
  text-decoration: underline;
}

ul {
  margin: 0.8em 1.5em;
}
li {
  line-height: 1.5;
}
li p {
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Serif", Georgia, serif;
  font-weight: normal;
  color: var(--text-color-dark);
  line-height: 1;
}
h1 {
  font-size: 3.375em;
}

.table th,
.table td {
  line-height: 1.3;
}

/* Classes for Typographics Niceties */
.amp {
  font-family: "Noto Serif", serif;
  color: var(--text-color-muted);
  /*font-style: italic;*/
}
.caps {
  font-size: 0.92em;
  font-variant: small-caps;
}
.day_suffix {
  vertical-align: super;
  font-size: 70%;
}

.smallprint {
  color: var(--text-color-muted);
  font-size: 85%;
  font-style: italic;
  line-height: 1.25;
}

/* Styling for multiple column things */
.two-columns ul {
  column-count: 2;
}
.three-columns ul {
  column-count: 3;
}

/* Styling for Nav bar. Bg color, link color etc */

.blog-header,
.blog-footer {
  padding: 16px 0;
  background: var(--footer-background) url(/images/blueprint-background.png)
    repeat;
  color: var(--text-color-light);
  margin-bottom: 1em;
}
.blog-header a {
  color: var(--text-color-light);
  border-radius: 3px;
  border: 1px solid transparent;
}
.blog-header .nav li a:hover {
  background-color: var(--header-background);
  border: 1px solid #fff;
}
.blog-header .nav li.active a {
  background-color: #fff;
  color: var(--header-background);
}

/* Currently used in the site header */
.brand {
  font-family: "Noto Serif", Georgia, serif;
  font-weight: normal;
  font-size: 5.063em;
  line-height: 1;
  margin-top: 0.2em;
  display: block;
  color: var(--text-color-light);
}

.navbar .nav > li > a {
  color: #ff0f00;
}
.navbar .divider-vertical {
  border-right: 1px solid #4d4d4d;
}
.navbar {
  margin-bottom: 4em;
  background-color: #000;
}

#blog-nav {
  padding: 5px 0;
  font-size: 16px;
  margin-top: 0.2em;
}

/* Footer */
.blog-footer {
  padding: 1em 2em;
  margin: 1em 0 0 0;
}
.blog-footer a {
  color: var(--text-color-light);
  border-radius: 3px;
  border: 1px solid transparent;
}
.blog-footer .nav li a:hover {
  background-color: var(--footer-background);
  border: 1px solid #fff;
}
.blog-footer .nav li.active a {
  background-color: #fff;
  color: var(--footer-background);
}
.blog-footer li {
  text-align: left;
  line-height: 1;
  margin-bottom: 0;
}
.blog-footer p small {
  font-size: 75%;
}
.blog-footer #socialist {
  width: 19%;
}

.blog-footer li.feeds a {
  display: inline-block;
  padding: 3px;
  margin: 0 3px 0 -6px;
}

.nav-header {
  font-family: sans-serif;
  padding-left: 0;
}
.nav-list {
  padding: 0;
  margin-top: 0;
  margin-right: 0;
}
.nav-list li a {
  padding-right: 0;
  color: var(--text-color-light);
  text-shadow: none;
}
.nav-list li i {
  color: var(--text-color-light);
}
.blog-footer h4 {
  /*font-family: 'Noto Serif', Georgia, serif;*/
  font-size: 100%;
  padding-left: 0;
  margin: 0 0 0.2em 0;
  color: var(--text-color-light);
  text-shadow: none;
}
.blog-footer hr {
  /*width: 90%;*/
  margin: 1em 0 0 0;
}
.blog-footer .amp {
  color: var(--text-color-light);
}

#colophon {
  padding-left: 1em;
}
#colophon p {
  margin: 0;
  font-size: 90%;
  font-style: italic;
  line-height: 1.25;
}
#colophon p a:hover {
  text-decoration: none;
}

/* Styling for articles */

.article {
  padding-bottom: 15px;
  padding-right: 40px;
}
.content-title {
  margin: 0.2em 0 0.2em 0;
  padding-right: 0.2em;
}

/* Article Sidebar */
.article-sidebar {
  text-align: left;
  color: var(--text-color-muted);
  font-size: 90%;
}
.article-sidebar .span10 {
  margin-left: 0;
}
.article-sidebar p {
  text-align: left;
  margin: 0 0 0.5em 0;
  font-size: 1em;
}
.article-sidebar .by {
  font-style: italic;
  color: var(--text-color-muted);
}
.article-sidebar p.social_widgets {
  margin-bottom: 0;
}
.article-sidebar p + ul {
  margin-bottom: 0;
}
.article-sidebar .tag-list {
  margin: 0;
  padding: 0;
}
.article-sidebar .tag-list .tag {
  padding: 0;
  float: none;
  clear: both;
}

.article-sidebar .contents ul {
  margin: 0;
  list-style-type: none;
}
.article-sidebar .contents ul li {
  line-height: 1.1;
  margin-bottom: 0.25em;
}
.article-sidebar .contents ul li a {
  color: #aaa;
}
.article-sidebar .contents ul ul {
  margin: 0 0 0.5em 0.7em;
}

.article-sidebar nav.toc ul {
  margin-top: 0;
}

.article-sidebar nav {
  margin-top: 0.5em;
}
.article-sidebar nav .amp {
  color: #bbb;
}

.content .article-sidebar h4 {
  color: var(--text-color-muted);
}

/* Article Blockquotes */
.content blockquote {
  border-left: 5px solid #dedede;
}
.content blockquote,
.content blockquote p {
  font-size: 0.9rem;
  font-style: italic;
}

/* Styles for article footnotes */

.content .footnotes hr {
  display: none;
}
.content table.footnote {
  font-size: 95%;
}
.content .footnote-ref,
.content .footnote-reference {
  font-size: 75%;
  vertical-align: top;
  margin-left: -0.2em;
}
.content .footnote td {
  border: none;
  text-align: left;
}
.content .footnote td.label {
  background-color: var(--content-background);
  text-shadow: none;
  border-radius: 0;
  padding: 0;
  font-size: inherit;
  font-weight: normal;
}

.content dd {
  margin: 0.2em 0 0.3em 1.5em;
}
.content dd ul {
  margin: 0.2em 0 0.3em 1em;
}

/* Styles for Figures & Images */

.content img {
  border: 1px solid var(--img-border-color);
  border-radius: var(--border-radius);
  padding: 0.5rem;
  background: var(--content-background);
  float: left;
  margin: 1em 1em 1em 0;
  box-shadow: 4px 4px 4px 0 rgba(128, 128, 128, 0.5);
}
.content img.align-left {
  float: left;
  margin: 0.5em 1em 1em 0;
}
.content img.align-right {
  float: right;
  margin: 0.5em 0 1em 1em;
}
.content img.no-wrap {
  float: none;
  clear: both;
  margin-bottom: 0.15em;
}

.content img.bare {
  border: none;
  border-radius: 0;
  padding: 0;
  box-shadow: none;
}

/* New style html5 figures */
.content figure {
  display: table;
  max-width: 100%;
  float: left;

  border: 1px solid var(--img-border-color);
  border-bottom: none;
  border-radius: 4px;
  background: var(--content-background);
  margin: 0 1em 1em 0;
  padding: 0.5rem 0.5rem 0.25rem 0.5rem;
  box-shadow: 4px 4px 4px 0 rgba(128, 128, 128, 0.5);
}
.content figure.align-right {
  float: right;
  margin: 0 0 1em 1em;
}
.content figure.align-left {
  float: left;
}
.content figure img {
  display: block;
  max-width: 100%;
  height: auto;
  border: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
}
.content figcaption {
  padding: 0.25rem 0.5rem 0.5rem 0.5rem;

  display: table-caption;
  caption-side: bottom;

  border: 1px solid var(--img-border-color);
  border-top: none;
  background-color: var(--content-background);
  box-shadow: 4px 4px 4px 0 rgba(128, 128, 128, 0.5);
  border-radius: 4px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  margin-top: -2px;
  font-size: 80%;
}
.content figcaption .amp {
  color: #bbb;
}

/* Styles for tables */
.content table {
  border-collapse: collapse;
  border: none;
  width: 100%;
}
.content th {
  border: none;
  border-bottom: 2px solid #ccc;
  border-right: 2px solid #fff;
  text-align: left;
  /*text-transform: capitalize;*/
  /*font-variant: small-caps;*/
}
.content td {
  border: none;
  border-bottom: 1px dotted #ccc;
  border-right: 1px solid #fff;
}

/* 

    Styles for Admonitions, bith .rst & .adoc html5s ones.

*/

/* Styles for RST Admonitions: http://docutils.sourceforge.net/docs/ref/rst/directives.html#admonitions */
.content div.note,
.content div.caution {
  padding: 0.25em 1em;
  background: var(--admonition-background) url(/images/blueprint-background.png);
  color: var(--text-color-light);
  border: 1px solid #3c7cbd;
  border-radius: 4px;
}
.content .admonition-title {
  font-size: 150%;
  font-weight: bold;
  margin: 0.5em 0 0 0;
}
.content div.note .amp,
.content div.caution .amp {
  color: var(--text-color-light);
}

.content div.note a,
.content div.caution a {
  color: var(--text-color-light);
  text-decoration: underline;
}

.content div.note tt,
.content div.caution tt {
  background-color: transparent;
  background-color: rgba(222, 222, 222, 0.25);
}

.content div.note p,
.content div.caution p {
  margin-top: 0.1em;
}

/* Styles for ADOC Admonitions: https://docs.asciidoctor.org/asciidoc/latest/blocks/admonitions/ */
.content aside.note,
.content section.caution {
  padding: 0.25em 1em;
  background: var(--admonition-background) url(/images/blueprint-background.png);
  color: var(--text-color-light);
  border: 1px solid #3c7cbd;
  border-radius: 4px;
}
.content .admonition-block h6 {
  color: var(--text-color-light);
  font-size: 150%;
  font-weight: bold;
  margin: 0.5em 0 0.5rem 0;
}
.content aside.note .amp,
.content section.caution .amp {
  color: var(--text-color-light);
}

.content aside.note a,
.content section.caution a {
  color: var(--text-color-light);
  text-decoration: underline;
}

.content aside.note tt,
.content section.caution tt {
  background-color: transparent;
  background-color: rgba(222, 222, 222, 0.25);
}

.content aside.note p,
.content section.caution p {
  margin-top: 0.1em;
}

/* Any image that directly follows a paragraph inside a .content element */
.content p + img {
  margin-top: 0;
}

/* Styles for Code & literals */
.summary div.highlight {
  /*display: inline-block;*/
}
.highlight {
  border-radius: 5px;
}
.content code,
.content pre {
  font-family: "PT Mono", Monaco, Menlo, Consolas, monospace;
}
div.content code {
  font-size: initial;
}
.wrap .highlight pre {
  white-space: normal;
  word-break: break-word;
  overflow-wrap: break-word;
}
.highlight pre {
  font-family: "PT Mono", Menlo, Monaco, Consolas, monospace;
  background-color: #090916;
  color: #f8f8f2;
  font-size: 90%;

  overflow: auto;
  white-space: pre;
  word-wrap: normal;
  border: none;
}
tt.literal {
  font-family: "PT Mono", Menlo, Monaco, Consolas, monospace;
  background-color: #dedede;
  /*font-size: 110%;*/
  padding: 0.15em 0.2em 0 0.2em;
  border-radius: 3px;
  line-height: 1;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content hr {
  clear: both;
  float: none;
}
.content h2 {
  font-size: 2.25em;
  margin-top: 1em;
}
.content h3 {
  font-size: 1.6em;
}
.content h4 {
  font-size: 1.3em;
}

.content hr {
  border: none;
  text-align: center;
  height: 24px;

  background-image: url('data:image/svg+xml;utf8,<svg width="160px" height="1px" viewBox="0 0 160 1" xmlns="http://www.w3.org/2000/svg"><path d="M0 0 H 160" stroke="%23333"/></svg>');
  background-repeat: repeat-x;
  background-position: 50%;
}
.content hr::after {
  color: #aaa;
  font-family: "Gabriela", sans-serif;
  content: "ยง";
  padding: 0 0.5em;
  background: white;
}

/* Styling for the "other entries" section */

/* Metadata */
.well.small {
  padding: 6px 6px 4px;
}

/* Read more button */
.btn-info.xsmall {
  padding: 1px 3px 1px;
  font-size: 11px;
  float: right;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

/* Article index summary */
.summary {
  margin-top: 0.8em;
}

/* Styles for Tags */
.tag-list {
  margin: 1em 0 0.5em 0;
  padding: 0 0 0.5em 0;
  clear: both;
  float: none;
  overflow: auto;
}
.tag-list .tag {
  float: left;
  list-style-type: none;
}
.tag {
  padding: 0.3em 0.5em;
}
.tag .muted {
  color: var(--text-color-muted);
}

/* Styles for the Archives */
.archive-year {
  text-align: right;
}
table.archive td {
  text-align: left;
}
table.archive td h4 {
  margin: 0;
}
table.archive td p {
  margin: 0.2em 0;
}

/*

Styles for my CV

*/

.hresume h1,
.hresume h2,
.hresume h3 {
  clear: none;
}
.hresume .summary {
  margin-bottom: inherit;
  margin-top: inherit;
  font-size: inherit;
  line-height: inherit;
}

.hresume .intro {
  line-height: 1.2;
  font-size: 150%;
  font-style: italic;
  color: #777;
}
.hresume .intro .amp {
  color: #999;
}
.hresume .boxout {
  border: 1px solid var(--img-border-color);
  border-radius: 4px;
  padding: 1em;
  background-color: #efefef;
}
.hresume .boxout address,
.hresume .boxout dl {
  margin: 0 auto 0 auto;
}
.hresume i {
  color: var(--text-color-muted);
}

.hresume .experience h4 {
  font-weight: bold;
}
.hresume .experience .smallprint p {
  text-align: right;
}
.hresume .experience .job_description p {
  line-height: 1.3;
}

.hresume .download {
  float: right;
  margin-top: -1em;
  font-variant: small-caps;
  color: var(--text-color-muted);
}

/*

Styles for the E-Numbers stuff

TODO: Split into separate stylesheet that only loads on that page

*/

nav.enumbers ul {
  padding-left: 0;
}
nav.enumbers li {
  margin-right: 1em;
  float: left;
  padding-right: 1em;
}

table.enumbers {
  width: 100%;
}
.enumbers td.bad {
  background-color: #f63;
  font-weight: bolder;
  color: #fff;
  text-align: center;
}
.enumbers td.good {
  background-color: #6c6;
  font-weight: bolder;
  color: #fff;
  text-align: center;
}
.enumbers td.unknown {
  text-align: center;
  background-color: #ffc;
}
.enumbers td .altname {
  font-size: smaller;
  font-style: italic;
  color: #666;
}

/*-----------------------------

    Responsive stuff

-------------------------------*/

/* Large desktop */
@media screen and (min-width: 1200px) {
}

/* Portrait tablet to landscape and desktop */
@media screen and (min-width: 768px) and (max-width: 979px) {
}

/* Landscape phone to portrait tablet */
@media screen and (max-width: 767px) {
  #socialist {
    display: table-footer-group;
  }
  #colophon {
    display: table-header-group;
  }
  #sitelinks {
    display: table-footer-group;
  }

  .article-content {
    clear: both;
  }
  .brand {
    font-size: 250%;
    padding-left: 0.5em;
  }
  .blog-header {
    padding: 0;
  }
  #blog-nav {
    padding: 0;
    margin-top: 0;
  }
}

/* Landscape phones and down */
@media screen and (max-width: 480px) {
  .brand {
    font-size: 200%;
  }
  h1 {
    font-size: 200%;
  }
  .article-sidebar p.tag_heading,
  .article-sidebar ul {
    display: inline;
  }
  .article-sidebar .tag-list .tag {
    float: none;
    display: inline-block;
    list-style-type: none;
  }

  .hresume .boxout {
    width: 90%;
  }
}

@media print {
  * {
    color: inherit !important;
  }

  abbr,
  abbr[title],
  abbr[data-original-title] {
    border: none;
  }

  h1,
  h2,
  h3,
  h4 {
    font-weight: bold;
  }

  .hresume .intro {
    font-size: 120%;
  }
}
