/* Small devices and down/only */
@media (max-width: 420px) {
  /* Make figures & images in articles full width */
  .content :is(figure, img),
  .content :is(figure, img).align-left,
  .content :is(figure, img).align-right,
  .content :is(figure, img).small {
    float: none;
    margin: 0 0 1rem 0;
    width: 100%;
  }
  .brand {
    font-size: 3.2rem;
    margin-right: 0;
    word-break: break-all;
  }
  header,
  footer .row {
    flex-direction: column;
  }
  header nav {
    margin: 0;
  }

  header div.brand-container {
    display: none;
  }
  header .home-link {
    display: list-item;
  }
}

/* Small devices and up */
@media (min-width: 421px) {
  .brand {
    font-size: 3rem;
    word-break: break-all;
  }
  header .home-link {
    display: none;
  }
  article .article-sidebar {
    flex-direction: row;
  }
  article .article-sidebar .series {
    display: none;
  }

  .index.minimal .article-info p br {
    display: none;
  }

  header {
    flex-direction: column;
    padding: 1rem 0.5rem;
  }
  :is(header, footer) {
    padding: 0.75rem;
  }
  footer .row {
    flex-direction: column;
  }
  :is(header, footer) nav {
    margin-right: 0.5rem;
  }

  .hresume .intro {
    flex-direction: column;
  }
  .hresume .boxout {
    width: 90%;
  }
  .hresume .technical-skills {
    margin-top: -1rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .brand {
    font-size: 4.5rem;
  }
  article .article-sidebar .series {
    display: block;
  }
  .index.minimal .article-info p br {
    display: initial;
  }

  :is(header, footer) {
    padding: 1.5rem 0.5rem;
  }
  :is(header, footer) nav {
    margin-right: 0.5rem;
  }

  .hresume .technical-skills {
    margin-top: -2rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .brand {
    font-size: 5rem;
  }
  body > div.content {
    margin: auto;
    max-width: 900px;
  }
  header {
    flex-direction: row;
    padding: 1.5rem 0.5rem;
  }
  .main {
    flex-direction: row;
  }
  article .article-sidebar {
    flex-direction: column;
  }
  footer .row {
    flex-direction: row;
  }

  .hresume .intro {
    flex-direction: row;
  }
  .hresume .skills {
    column-count: 2;
  }
  .hresume .technical-skills {
    margin-top: -3rem;
  }
}
