/* Small devices and up */
@media (min-width: 400px) {
  .brand {
    font-size: 3rem;
  }
  .content-title h1 {
    font-size: 2.5rem;
  }
  article .article-sidebar {
    flex-direction: row;
  }
  header,
  footer {
    padding: 0.75rem 0.5rem;
    margin-bottom: 0;
  }

  footer .row {
    flex-direction: column;
  }

  .hresume .intro {
    flex-direction: column;
  }
  .hresume .boxout {
    width: 90%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .brand {
    font-size: 4.5rem;
  }
  .content-title h1 {
    font-size: 3rem;
  }
  header,
  footer {
    padding: 1.5rem 0.5rem;
    margin-bottom: 1rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .content-title h1 {
    font-size: 3.375rem;
  }
  .main {
    flex-direction: row;
  }
  article .article-sidebar {
    flex-direction: column;
  }
  footer .row {
    flex-direction: row;
  }

  .hresume .intro {
    flex-direction: row;
  }
  .hresume .skills {
    column-count: 2;
  }
}
