/* CSS Variables */
:root {
  color-scheme: light dark;
  --duration: 0.5s;
  --timing: ease;

  --content-bg: #eaeaeb;
  --content-fg: #efefef;
  --content-border: #bbb;

  /* --blueprint-bg: #2c71b8; */
  --primary: 210, 61%;
  --primary-l: 45%;
  --blueprint-bg: hsl(var(--primary), var(--primary-l));
  /* --blueprint-bg: #2d46b9; */
  --blueprint-fg: #e8e8e8;

  --border-radius: 0.2rem;
  --text-color: #001;
  --text-color-muted: #666;
  --text-color-amp: #bbb;

  --inline-code-bg: var(--content-fg);
  --inline-code-fg: #d63384;
  --inline-code-border: var(--content-border);

  --code-block-bg: #090916;
  --code-block-fg: #f8f8f2;

  --blockquote-border: var(--content-border);
  --blockquote-bg: var(--content-fg);

  --link-color: var(--blueprint-bg);
  --link-color-hover: hsl(var(--primary), calc(var(--primary-l) -15%));

  --admonition-bg: var(--blueprint-bg);

  --hr-fg: #444;

  --img-border-color: var(--content-border);
  --img-bg: var(--content-fg);
  --img-shadow-color: hsla(0deg, 0%, 0%, 0.075);

  --admonition-border-color: #3c7cbd;

  --icon-color-content: #bbb;
  --icon-color-blueprint: #e8e8e8;

  --pagination-hover-bg: #e9ecec;
  --pagination-border-color: #bcc4cd;

  --font-stack-serif: Constantia, 'Lucida Bright', Lucidabright, 'Lucida Serif',
    Lucida, 'DejaVu Serif', 'Bitstream Vera Serif', 'Liberation Serif', Georgia,
    serif;

  --font-heading: 'Noto Serif', var(--font-stack-serif);
  --font-body: 'Bitter', var(--font-stack-serif);
  --font-flourish: 'Gabriela', var(--font-stack-serif);
  --font-mono: 'PT Mono', SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', monospace;
  --font-sans: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue',
    Arial, 'Noto Sans', 'Liberation Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --content-bg: #363839;
    --content-fg: #424446;
    --content-border: #888;

    --link-color: hsl(var(--primary), calc(var(--primary-l) +5%));
    --link-color-hover: hsl(var(--primary), calc(var(--primary-l) +15%));

    --text-color: #d1cec9;
    --text-color-muted: #ada69d;
    --blueprint-fg: #e8e8e8;

    --blockquote-border: var(--content-border);
    --blockquote-bg: var(--content-fg);

    --hr-fg: #fff;

    --text-color-amp: #ada69d;

    --inline-code-bg: var(--content-fg);
    --inline-code-fg: #ff8ac4;
    --inline-code-border: #666;

    --img-bg: var(--content-fg);

    --pagination-hover-bg: var(--content-fg);
    --pagination-border-color: #777;
  }
}

body.dark-theme {
  color-scheme: dark;
  --content-bg: #363839;
  --content-fg: #424446;
  --content-border: #888;

  --link-color: hsl(var(--primary), calc(var(--primary-l) +5%));
  --link-color-hover: hsl(var(--primary), calc(var(--primary-l) +15%));
  /* --link-color: #4093e4;
  --link-color-hover: #74acda; */

  --text-color: #d1cec9;
  --text-color-muted: #ada69d;
  --blueprint-fg: #e8e8e8;

  --blockquote-border: var(--content-border);
  --blockquote-bg: var(--content-fg);

  --hr-fg: #fff;

  --text-color-amp: #ada69d;

  --inline-code-bg: var(--content-fg);
  --inline-code-fg: #ff8ac4;
  --inline-code-border: #666;

  --img-bg: var(--content-fg);

  --pagination-hover-bg: var(--content-fg);
  --pagination-border-color: #777;
}
