<div class="row-fluid">
  <div class="span10">
    <p>
      <span title="{{ article.date.isoformat() }}"
        >{{ article.date|sidebar_date_format }}</span
      >
      <span itemprop="datePublished" class="hidden"
        >{{ article.date.isoformat() }}</span
      >
      <br />
      <span class="by">by</span>
      <span class="post-author vcard">
        <span
          class="fn"
          itemprop="author"
          itemscope="itemscope"
          itemtype="http://schema.org/Person"
        >
          <span itemprop="name">{{ article.author }}</span>
        </span>
      </span>
    </p>
    <p>
      <i class="icon muted">{{ICONS['clock']}}</i>{{ article.stats['read_mins']
      }} min read,
      <span itemprop="wordCount">{{ article.stats['wc'] }} words.</span>
    </p>
    <span itemprop="timeRequired" class="hidden"
      >P{{ article.stats['read_mins'] }}M</span
    >

    {% if article.modified %}
    <p>
      <span class="by">updated</span>
      <span title="{{ article.modified.isoformat() }}"
        >{{ article.modified|sidebar_date_format }}</span
      >
      <span itemprop="dateModified" class="hidden"
        >{{ article.modified.isoformat() }}
      </span>
    </p>
    {% endif %}

    <p>
      Category:
      <a href="{{ SITEURL }}/{{ article.category.url }}"
        >{{ article.category }}</a
      >
    </p>
  </div>

  <div class="span10">
    <h4 class="tag_heading">Tags:</h4>
    <ul class="tag-list">
      {% for tag in article.tags|sort %}
      <li class="tag">
        <i class="muted icon">{{ICONS['tag']}}</i
        ><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>

  {% if TWITTER_USERNAME and ARTICLE_TWEET_BUTTON %}
  <div class="span10 social_widgets">
    <br />
    {% include "twitter.html" %}
  </div>
  {% endif %} {% if ARTICLE_GOOGLEPLUS_BUTTON %}
  <div class="span10">{% include "googleplus.html" %}</div>
  {% endif %}
</div>
