{% extends "base.html.j2" %}

{% block pageschema %}{{ article.schema|d(DEFAULT_PAGESCHEMA) }}{% endblock %}

{% block metaimage %}{{ article.thumbnail|d('/images/favicon-128x128.png') }}{% endblock %}

{% block title %}{{ article.title|striptags }} &middot; {{ SITENAME }}{% endblock %}
{% block description %}{{ article.meta_description|d(article.summary|striptags|striptags|striptags) }}{% endblock %}

{% if DUBLIN_CORE_METADATA %}
{% block dublin_core_metadata %}
<link rel="schema.DC" href="http://purl.org/dc/elements/1.1/" />
<link rel="schema.DCTERMS" href="http://purl.org/dc/terms/" />

<meta name="DC.title" lang="en" content="{{ article.title|striptags }}" />
<meta name="DC.creator" content="{{ article.author }}" />
<meta name="DCTERMS.issued" scheme="DCTERMS.W3CDTF" content="{{ article.date.isoformat() }}" />
{% if article.last_modified_date %}<meta name="DCTERMS.modified" content="{{ article.last_modified_date.isoformat() }}" />{% endif %}
<meta name="DC.identifier" scheme="DCTERMS.URI" content="{{ SITEURL }}/{{ article.url }}" />
<meta name="DCTERMS.abstract" content="{{ article.meta_description|d(article.summary|striptags|striptags|striptags) }}" />
<meta name="DC.format" scheme="DCTERMS.IMT" content="text/html" />
<meta name="DC.type" scheme="DCTERMS.DCMIType" content="Text" />
{% endblock %}
{% endif %}

{% if TWITTER_CARD %}
{% block twittercard %}
{% if article.thumbnail %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="{{ SITEURL }}{{ article.thumbnail }}">
{% else %}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:image" content="{{ SITEURL }}/images/favicon-128x128.png">
{% endif %}
    <meta name="twitter:site" content="@{{ TWITTER_USERNAME }}">
    <meta name="twitter:title" content="{{ article.title|striptags }}">
    <meta name="twitter:description" content="{{ article.meta_description|d(article.summary|striptags|striptags|striptags) }}">
    <meta name="twitter:creator" content="@{{ TWITTER_USERNAME }}">
    <meta name="twitter:domain" content="{{ SITE_DOMAIN }}">
{% endblock %}
{% endif %}

{% if OPEN_GRAPH_METADATA %}
{% block opengraph %}
{% if article.thumbnail %}
    <meta property="og:image" content="{{ SITEURL }}{{ article.thumbnail }}"/>
{% else %}
    <meta property="og:image" content="{{ SITEURL }}/images/favicon-128x128.png"/>
{% endif %}
    <meta property="og:site_name" content="{{ SITENAME }}"/>
    <meta property="og:title" content="{{ article.title|striptags }}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:description" content="{{ article.meta_description|d(article.summary|striptags|striptags|striptags) }}"/>
    <meta property="og:url" content="{{ SITEURL }}/{{ article.url }}"/>
{% endblock %}
{% endif %}

{% block content %}
<article>

    <div class="title">
        <div class="content-title">
            <h1 itemprop="name headline">{{ article.title }}</h1>
        </div>
    </div>

    <div class="main">

        <div class="article-sidebar">
            {% include "article-sidebar.html.j2" %}
            {% include "article-sidebar-multipart.html.j2" %}
            {% include "article-sidebar-toc.html.j2" %}
        </div>

        <section class="article-content" itemprop="text articleBody">

            {{ article.content }}

            <hr />

            {% if article.related_posts %}
            <div>
                <div class="realted_posts span11">

                    {% if article.series %}
                    <h3>This post is part {{ article.series.index }} of the {{ article.series.all|length }} part "{{ article.series.name }}" series:</h3>
                    <nav>
                        <ul class="parts">
                        {% for part_article in article.series.all %}
                            <li {% if part_article == article %}class="active"{% endif %}>
                                {% if part_article == article %}
                                <p>{{ part_article.title }}</p>
                                {% else %}
                                <p><a href='{{ SITEURL }}/{{ part_article.url }}'>{{ part_article.title }}</a></p>
                                {% endif %}
                            </li>
                        {% endfor %}
                        </ul>
                    </nav>

                    {% else %}

                    <h3>Related Posts</h3>
                    <nav>
                        <dl>
                        {% for related_post in article.related_posts %}
                            <dt><h4><a href="{{ SITEURL }}/{{ related_post.url }}">{{ related_post.title }}</a></h4></dt>
                            <dd><span class="smallprint">{{ related_post.meta_description }}</span></dd>
                        {% endfor %}
                        </dl>
                    </nav>
                    {% endif %}
                </div>
            </div>
            <hr />
            {% endif %}

            <div>
                <h3 id="article-comments-section">Comments</h3>
                {% include 'disqus.html.j2' %}
            </div>
        </section>
    </div>

</article>
{% endblock %}
