{% if article.series %}
<nav class="series">
    <h4>This post is part of a series:</h4>
    <ol class="parts">
    {% for part_article in article.series.all %}
        <li {% if part_article == article %}class="active"{% endif %}>
            {% if part_article == article %}
            {{ part_article.title }}
            {% else %}
            <a href='{{ SITEURL }}/{{ part_article.url }}'>{{ part_article.title }}</a>
            {% endif %}
        </li>
    {% endfor %}
    </ol>
</nav>
{% endif %}
