<!DOCTYPE html>
<html lang="en" itemscope="itemscope" itemtype="http://schema.org/{% block pageschema %}WebPage{% endblock %}"
  {% if OPEN_GRAPH_METADATA %}
  xmlns:og="http://ogp.me/ns#"
  xmlns:fb="https://www.facebook.com/2008/fbml"{% endif %}>
<head>
    <meta charset="utf-8">
    <link href="//fonts.googleapis.com" rel="dns-prefetch">
    <link href="//fonts.gstatic.com" rel="dns-prefetch">
    <title>{% block title %}{{ SITE_TITLE }} &middot; {{ SITENAME }}{% endblock %}</title>
{# Favicons #}
    <meta itemprop="image" content="{% block metaimage %}/images/favicon-128x128.png{% endblock %}">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="/images/apple-touch-icon.png">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" itemprop="description" content="{% block description %}{{ SITE_DESCRIPTION }}{% endblock %}" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="copyright" content="Copyright (c) {{ COPYRIGHT_FROM }}-{{ COPYRIGHT_UNTIL }} {{ AUTHOR }}" />
    <meta name="author" content="{{ AUTHOR }}" />

    <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "Person",
          "name": "{{ AUTHOR }}",
          "url": "{{ SITEURL }}",
          "logo": "{{ SITEURL }}/images/favicon-128x128.png",
          "sameAs": [
            {% for anchor_text, name, link in SOCIAL %}
            "{{ link }}"{% if not loop.last %},{% endif %}
            {% endfor %}
          ]
        }
    </script>


{% if FEED_RSS %}
    <link rel='alternate' type='application/rss+xml' title='RSS Feed (full content)' href='/{{ FEED_RSS }}' />
{% endif %}
{% if FEED_ATOM %}
    <link rel='alternate' type='application/atom+xml' title='Atom Feed (full content)' href='/{{ FEED_ATOM }}' />
{% endif %}

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]> <script src="{{ SITEURL }}/theme/js/html5.js"></script> <![endif]-->
    <!-- Le styles -->
    <link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
{% assets filters="cssprefixer,cssmin", output="css/final-%(version)s.css", "css/fontello.css", "css/main.css", "css/pygments-monokai.css" %}
    <link rel="stylesheet" media="all" href="/{{ ASSET_URL }}">
{% endassets %}
{# These webfonts seem to break if I merge them into one call. #}
    <link href='https://fonts.googleapis.com/css?family=Bitter:400,400italic|Droid+Serif:400' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Gabriela&amp;text=%26%C2%A7|PT+Mono' rel='stylesheet' type='text/css'>
{% if TWITTER_ACCOUNT_ID %}
    <meta property="twitter:account_id" content="{{ TWITTER_ACCOUNT_ID }}" />
{% endif %}
{% if TWITTER_CARD %}
{% block twittercard %}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@{{ TWITTER_USERNAME }}">
    <meta name="twitter:title" content="{{ SITENAME }}">
    <meta name="twitter:description" content="{{ SITE_DESCRIPTION }}">
    <meta name="twitter:creator" content="@{{ TWITTER_USERNAME }}">
    <meta name="twitter:image" content="{{ SITEURL }}/images/favicon-128x128.png">
    <meta name="twitter:domain" content="{{ SITE_DOMAIN }}">
{% endblock %}
{% endif %}
{% if OPEN_GRAPH_METADATA %}
{% block opengraph %}
    {% if OPEN_GRAPH_FB_APP_ID %}
    <meta property="fb:app_id" content="{{ OPEN_GRAPH_FB_APP_ID }}"/>
    {% endif %}
    <meta property="og:site_name" content="{{ SITENAME }}"/>
    <meta property="og:title" content="{{ SITENAME }}"/>
    <meta property="og:type" content="blog"/>
    <meta property="og:description" content="{{ SITE_DESCRIPTION }}"/>
    <meta property="og:image" content="{{ SITEURL }}/images/favicon-128x128.png"/>
    <meta property="og:url" content="{{ SITEURL }}"/>
{% endblock %}
{% endif %}
{% block extrahead %}
{% endblock %}
</head>

<body>
    <header class="blog-header hidden-print">
        <div class="container">
            <div class="row-fluid">
                <div class="span8"><a href="{{ SITEURL }}" class="brand">{{SITENAME}}</a></div>
                <div class="span4" id="blog-nav">
                    <ul class="nav nav-pills pull-right">
                    {% if HEADER_LINKS %}
                        {% for anchor_text, name, link in HEADER_LINKS %}
                            <li><a href="{{ link }}">{% if name %}<i class="icon-{{ name }}"></i>{% endif %}{{anchor_text}}</a></li>
                        {% endfor %}
                    {% endif %}
                    {% if DISPLAY_PAGES_ON_MENU %}
                        {% for page in PAGES %}
                            <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
                        {% endfor %}
                    {% endif %}
                    {% for cat, null in categories %}
                        <li {% if cat == category %} class="active" {% endif %}>
                        <a href="{{ SITEURL }}/{{ cat.url }} ">{{ cat }}</a>
                    {% endfor %}
                    </ul>
                </div>
            </div> {# End of fluid row #}
        </div> {# End of Container #}
    </header>

    <div class="container">
        <div class="content">
            <div class="row-fluid">
                <div class="span11">
                    {% block content %}{% endblock %}
                </div>
            </div> {# End row #}
        </div> {# End content #}
    </div>

    {% include "footer.html" %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>

    {% include "analytics.html" %}

</body>
</html>
