<!DOCTYPE html>
<html
  lang="en"
  itemscope="itemscope"
  itemtype="http://schema.org/{% block pageschema %}WebPage{% endblock %}"
  {% if OPEN_GRAPH_METADATA %}
  xmlns:og="http://ogp.me/ns#"
  xmlns:fb="https://www.facebook.com/2008/fbml"
  {% endif %}
>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="color-scheme" content="dark light">

    <link rel="dns-prefetch" href="//fonts.googleapis.com" />
    <link rel="preconnect" href="//fonts.googleapis.com" crossorigin />

    <link rel="dns-prefetch" href="//fonts.gstatic.com" />
    <link rel="preconnect" href="//fonts.gstatic.com" crossorigin />

    <link rel="dns-prefetch" href="//themes.googleusercontent.com" />
    <link rel="dns-prefetch" href="//google-analytics.com" />
    <link rel="dns-prefetch" href="//www.google-analytics.com" />

    <link rel="preload" href="/theme/css/fonts/subset-Caladea-Regular.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="/images/icons/icon_sheet.svg?{{ICON_SPRITE_SHEET_HASH}}" as="image" type="image/svg+xml" />

    <title>
      {% block title %}{{ SITE_TITLE }} &middot; {{ SITENAME }}{% endblock %}
    </title>

    {# Favicons #}
    <meta
      itemprop="image"
      content="{% block metaimage %}/images/favicon-128x128.png{% endblock %}"
    />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link
      rel="apple-touch-icon-precomposed"
      href="/images/apple-touch-icon.png"
    />
    {# /Favicons #}

    <meta
      name="description"
      itemprop="description"
      content="{% block description %}{{ SITE_DESCRIPTION }}{% endblock %}"
    />

    <meta
      name="copyright"
      content="Copyright (c) {{ COPYRIGHT_FROM }}-{{ COPYRIGHT_UNTIL }} {{ AUTHOR }}"
    />
    <meta name="author" content="{{ AUTHOR }}" />
    {% if article %}
    <meta name="date" content="{{ article.date.isoformat() }}" />
    {% endif %}

    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Person",
        "name": "{{ AUTHOR }}",
        "url": "{{ SITEURL }}",
        "logo": "{{ SITEURL }}/images/favicon-128x128.png",
        "sameAs": [
          {% for anchor_text, name, link in SOCIAL %}
          "{{ link }}"{% if not loop.last %},{% endif %}
          {% endfor %}
        ]
      }
    </script>

    {% if DUBLIN_CORE_METADATA %} {% block dublin_core_metadata %} {% endblock %} {% endif %}

    {% if FEED_RSS %}
    <link
      rel="alternate"
      type="application/rss+xml"
      title="RSS Feed (full content)"
      href="/{{ FEED_RSS }}"
    />
    {% endif %}
    {% if FEED_ATOM %}
    <link
      rel="alternate"
      type="application/atom+xml"
      title="Atom Feed (full content)"
      href="/{{ FEED_ATOM }}"
    />
    {% endif %}

    {% assets filters="rcssmin", output="css/style.min.css", 
      "css/bs5/bootstrap-reboot.css", 
      "css/variables.css", 
      "css/utility-classes.css", 
      "css/icons.css", 
      "css/grid.css",
      "css/header-footer.css",
      "css/figures-images.css",
      "css/article-sidebar.css",
      "css/pagination.css",
      "css/index.css",
      "css/responsive.css",
      "css/main.css",
      "css/pygments-monokai.css",
      "css/enumbers.css",
      "css/cv.css",
      "css/page.css",
      "css/review.css"
    %}
    <link rel="stylesheet" media="all" href="{{ SITEURL }}/{{ ASSET_URL }}" />
    {% endassets %}
    <link
      href="https://fonts.googleapis.com/css2?family=Bitter:ital@0;1&family=Noto+Serif&family=PT+Mono&display=swap"
      rel="preload"
      as="style"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Bitter:ital@0;1&family=Noto+Serif&family=PT+Mono&display=swap"
      rel="stylesheet"
      type="text/css"
    />

    {% if TWITTER_ACCOUNT_ID %}
    <meta property="twitter:account_id" content="{{ TWITTER_ACCOUNT_ID }}" />
    {% endif %}
    {% if TWITTER_CARD %} {% block twittercard %}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@{{ TWITTER_USERNAME }}" />
    <meta name="twitter:title" content="{{ SITENAME }}" />
    <meta name="twitter:description" content="{{ SITE_DESCRIPTION }}" />
    <meta name="twitter:creator" content="@{{ TWITTER_USERNAME }}" />
    <meta
      name="twitter:image"
      content="{{ SITEURL }}/images/favicon-128x128.png"
    />
    <meta name="twitter:domain" content="{{ SITE_DOMAIN }}" />
    {% endblock %} {% endif %}
    {% if OPEN_GRAPH_METADATA %} {% block opengraph
    %} {% if OPEN_GRAPH_FB_APP_ID %}
    <meta property="fb:app_id" content="{{ OPEN_GRAPH_FB_APP_ID }}" />
    {% endif %}
    <meta property="og:site_name" content="{{ SITENAME }}" />
    <meta property="og:title" content="{{ SITENAME }}" />
    <meta property="og:type" content="blog" />
    <meta property="og:description" content="{{ SITE_DESCRIPTION }}" />
    <meta
      property="og:image"
      content="{{ SITEURL }}/images/favicon-128x128.png"
    />
    <meta property="og:url" content="{{ SITEURL }}" />
    {% endblock %} {% endif %}

    {% if SHOW_THEME_SWITCHER %}
    {% assets filters="rjsmin", output="js/site.min.js", 
      "js/theme-switcher.js",
      "js/svg-convert.js"
    %}
    <script src="{{SITEURL}}/{{ASSET_URL}}"></script>
    {% endassets %}
    {% endif %}
    
    {% block extrahead %} {% endblock %}
  </head>

  <body>
    <img style="display: none;" src="/images/icons/icon_sheet.svg?{{ICON_SPRITE_SHEET_HASH}}" onload="convertSVG(this)" />
    {# {{ ICON_SPRITE_SHEET }} #}
    <header>

      {% include "header.html.j2" %}
    </header>

    <div class="content">
      {% block content %}{% endblock %}
    </div>

    <footer>
      {% include "footer.html.j2" %}
    </footer>

    {% include "analytics.html.j2" %}
  </body>
</html>
