{% extends "base.html.j2" %} {% block title %}{{ SITENAME }} &middot; Categories{%
endblock %} {% block description %}Everything on {{ SITENAME }}, organised by
Category.{% endblock %} {% block content %}

<article>

    <div class="title">
        <div class="content-title">
            <h1>Categories</h1>
        </div>
    </div>

    <div class="main tags">

      <section class="content" itemprop="text articleBody">

      <ul class="tag-list">
        {% for category, articles in categories|sort %}
        <li class="tag">
          <i class="icon-tags"></i>
          <a href="{{ SITEURL }}/{{ category.url }}"
            >{{ category }} <span>[{{ articles|count }}]</span></a
          >
        </li>
        {% endfor %}
      </ul>


      </section>
    </div>
  </article>

{% endblock %}
