  <div class="row">

    {% if SITE_LINKS %}
    <div class="links">
      <nav>
        <h3>Site</h3>
        <ul>
          {% for anchor_text, icon, link in SITE_LINKS %}
          <li>
            <a href="{{ SITEURL }}{{ link }}"><i class="icon">{{icon}}</i>{{anchor_text}}</a>
          </li>
          {% endfor %} {% if FEED_RSS or FEED_ATOM %}
          <li class="feeds">
            <i class="icon">{{ICONS['feed']}}</i>
            {% if FEED_RSS %}<a
              href="{{ SITEURL }}/{{ FEED_RSS }}"
              rel="alternate"
              >RSS</a
            >{% endif %} {% if FEED_ATOM %}<a
              href="{{ SITEURL }}/{{ FEED_ATOM }}"
              rel="alternate"
              >Atom</a
            >{% endif %}
          </li>
          {% endif %}
        </ul>
      </nav>
      {% endif %}

      {% if SOCIAL %}
      <nav>
        <h3>Social</h3>
        <ul>
          {% for anchor_text, icon, link in SOCIAL %}
          <li>
            <a itemprop="sameAs" href="{{ link }}" rel="author"
              ><i class="icon">{{icon}}</i>{{anchor_text}}</a
            >
          </li>
          {% endfor %} {% if EMAIL%}
          <a href="mailto:{{ EMAIL}}"
            ><i class="icon">{{ICONS['email']}}</i> email</a
          >
          {% endif %}
        </ul>
      </nav>
      {% endif %}
      
      {% if LINKS %}
      <nav>
        <h3>Links</h3>
        <ul>
          {% for anchor_text, icon, link in LINKS %}
          <li>
            <a href="{{ link }}" rel="author"
              ><i class="icon">{{icon}}</i>{{anchor_text}}</a
            >
          </li>
          {% endfor %}
        </ul>
      </nav>

    </div>
    {% endif %}
    
    {% include "colophon.html.j2" %}
  </div>

  <div class="copyright">
    <hr />

    <p>
      Designed, built, drawn, written <span class="amp">&amp;</span> &copy; {{
      COPYRIGHT_FROM }}-{{ COPYRIGHT_UNTIL }}
      <a href="{{ SITEURL }}">{{ AUTHOR }}</a>.
      Powered by
      <a href="https://github.com/getpelican/pelican">Pelican</a> and
      <a href="https://getbootstrap.com/">Bootstrap</a>. Icons by
      <a href="https://fontawesome.com/">Font Awesome</a>.
    </p>
  </div>
