{% extends "base.html.j2" %}

{% block title %}
{% if articles_page.has_previous() and articles_page.number > 1 %}
{{ SITE_TITLE }} &middot; {{ SITENAME }}, page {{ articles_page.number }}
{% else %}
{{ SITE_TITLE }} &middot; {{ SITENAME }}
{% endif %}
{% endblock %}

{% block description %}
{% if articles_page.has_previous() and articles_page.number > 1 %}
{{ SITE_DESCRIPTION }}, page {{ articles_page.number }}
{% else %}
{{ SITE_DESCRIPTION }}
{% endif %}
{% endblock %}

{% block content %}
    {% if articles %}
        {% for article in articles_page.object_list %}
            <article>
                <div class="title">
                    <div class="content-title">
                    <a href="{{ SITEURL }}/{{ article.url }}"><h2>{{ article.title }}</h2></a>
                    </div>
                </div>

                <div class="main">
                    <div class="sidebar">
                        {% include "article-sidebar.html.j2" %}
                    </div>
                    <div class="content">
                        {{ article.summary }}
                        <br />
                        <a class="read-more" href="{{ SITEURL }}/{{ article.url }}">
                        {% if ICONS['read-more'] %}<i class="icon">{{ICONS['read-more']}}</i> {% endif %}Read More </a>
                        <hr />
                    </div>
                </div>
            </article>
            {% if loop.last and (articles_page.has_previous() or not articles_page.has_previous() and loop.length > 1) %}
                {% include 'pagination.html.j2' %}
            {% endif %}

        {% endfor %} {# For article #}
    {% endif %} {# If articles #}
{% endblock content %}
