{% extends "base.html.j2" %}

{% block title %}
{% if articles_page.has_previous() and articles_page.number > 1 %}
{{ SITE_TITLE }} &middot; {{ SITENAME }}, page {{ articles_page.number }}
{% else %}
{{ SITE_TITLE }} &middot; {{ SITENAME }}
{% endif %}
{% endblock %}

{% block description %}
{% if articles_page.has_previous() and articles_page.number > 1 %}
{{ SITE_DESCRIPTION }}, page {{ articles_page.number }}
{% else %}
{{ SITE_DESCRIPTION }}
{% endif %}
{% endblock %}

{% block content %}
    {% if articles %}
        {% for article in articles_page.object_list %}
            
            {% include article | index_template(INDEX_TEMPLATE_FOR_TAG) %}

            <hr />
            {% if loop.last and (articles_page.has_previous() or not articles_page.has_previous() and loop.length > 1) %}
                {% include 'pagination.html.j2' %}
            {% endif %}

        {% endfor %} {# For article #}
    {% endif %} {# If articles #}
{% endblock content %}
