<article class="index minimal">
    <div class="title">
        <div class="content-title">
            <h2><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
        </div>
    </div>

    <div class="main">
        <div class="article-sidebar">
            {% include "article-sidebar-minimal.html.j2" %}
        </div>
        <div class="article-content">
            <p class="smallprint">{{ article.meta_description }}</p>
            <div class="tag-list-container">
                <i class="icon">{{ICONS['tags']}}</i>
                <ul class="tag-list">
                    {% for tag in article.tags|sort %}
                    <li class="tag">
                        <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</article>