<article class="index">
    <div class="title">
        <div class="content-title">
            <h2><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
        </div>
    </div>

    <div class="main">
        <div class="article-sidebar">
            {% include "article-sidebar.html.j2" %}
        </div>
        <div class="article-content">
            {{ article.summary }}

            <span class="page-item read-more"><a class="page-link" href="{{ SITEURL }}/{{ article.url }}">
            Continue reading &#8220;{{ article.title }}&#8221; {% if ICONS['read-more'] %}<i class="icon">{{ICONS['read-more']}}</i>{% endif %}</a></span>
        </div>
    </div>
</article>