{% extends "index.html.j2" %}
{% block title %}{{ SITENAME }} &middot; Tags &middot; {{ tag }}{% endblock %}
{% block description %}All the content on {{ SITENAME }} tagged with: {{ tag }}{% endblock %}
