{% extends "base.html.j2" %} {% block title %}{{ SITENAME }} &middot; Tags{%
endblock %} {% block description %}Everything on {{ SITENAME }}, organised by
Tag.{% endblock %} {% block content %}

<article>

    <div class="title">
        <div class="content-title">
            <h1>Tags</h1>
        </div>
    </div>

    <div class="main tags">

      <section class="content" itemprop="text articleBody">

        <p class="smallprint">There are currently {{ tags | count }} tags.</p>

        <h2>By Name</h2>

        <ul class="tag-list">
          {% for tag, articles in tags | tagsort_name %}
          <li class="tag">
            <i class="icon-tags"></i
            ><a href="{{ SITEURL }}/{{ tag.url }}"
              >{{ tag }} <span>[{{ articles|count }}]</span></a
            >
          </li>
          {% endfor %}
        </ul>

        <hr />

        <h2>By Frequency</h2>

        <ul class="tag-list">
          {% for tag, articles in tags | tagsort_count %}
          <li class="tag">
            <i class="icon-tags"></i
            ><a href="{{ SITEURL }}/{{ tag.url }}"
              >{{ tag }} <span>[{{ articles|count }}]</span></a
            >
          </li>
          {% endfor %}
        </ul>

      </section>
    </div>
  </article>

{% endblock %}
